@font-face {
    font-family: 'alsscrp';
    src: url('/alsscrp.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sugo-pro-classic';
    src: url('/Sugo-Pro-Classic-Regular-trial.ttf') format('truetype');
}